<section id="about" class="about">
    <div class="about-content">
        <div class="about-text">
            <h2>Sobre mí</h2>
            <p>Soy desarrollador de aplicaciones multiplataforma, titulado en DAM (Desarrollo de Aplicaciones
                Multiplataforma). Tengo experiencia en el diseño y desarrollo de aplicaciones web y móviles, trabajando
                con Java, C#, SQL Server, PostgreSQL, HTML5, CSS3, JavaScript, TypeScript y WordPress. También he
                trabajado con Frameworks como Angular21.</p>
            <p>Me considero una persona adaptable, con capacidad de trabajo en equipo, organizada y con ganas de
                aprender. Además, cuento con experiencia en distintos entornos laborales que me han ayudado a
                desarrollar habilidades de colaboración, comunicación y responsabilidad.</p>
            <p>Actualmente estoy buscando mi primera oportunidad laboral en el sector IT, con interés en seguir
                creciendo como profesional y abierto a trabajar con diferentes tecnologías y entornos de desarrollo.</p>
        </div>
        <div class="about-image">
            <img src="assets/ImagenPerfil.png" alt="Imagen sobre mí">
        </div>
    </div>
</section>